.box1{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.box2{
    display: flex;
    justify-content: center;
}
.box21{
    color: #1E3658;
}
/* .comfort-dec{
    display: flex;
    justify-content: center;
} */
.comfortBtn{
    margin: 20px 0 0 10px;
    border: none;
    font-size: 1.6em;
    padding: 10px;
    background-color: #D9D9D9;
    color: black;
    border-radius: 10px;
    font-size: 0.7em;
}

.bluedots{
    width: 10%;
    position:relative;
    top: 40px;
    left: -30px;
    z-index: -1;
}
.down-arr1{
    background-color: #084bd1;
}
.popularname{
    margin: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.popularname1{
    color: #CCCFD6;
   
    
}
.car1{
   color: #1E3658;
   margin: 20px;
   
}
.car2{
   color: #1E3658;
   margin: 20px;
}
.car3{
    color: #1E3658;
    margin: 20px;
}
.car4{
    color: #1E3658;
    margin: 20px;
}
@media screen and (max-width: 480px) {
    .popularname {
        display: flex;
        flex-direction: column;
    }
  }

